
</header>
        
<header class="fixed-top p-4" style="background-color:rgb(255, 255, 255);">

    <div class="navbar p-0">
        <a href="http://localhost/CO3049_assignment/public/" class="logo text-decoration-none fw-bold fs-2">
            <span >CINEMA</span>
        </a>
    
        <div class="dropdown">
            <a href="#" class="sidebar-link" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle text-primary fs-2"></i>
            </a>
    
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown" id="dropdownMenu">
                <li>
                    <a class="dropdown-item" href="#">
                        <span>Tài khoản</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        <span>Vé</span>
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item text-danger" href="http://localhost/CO3049_assignment/public/auth/logout">
                        <span>Đăng xuất</span>
                    </a>
                </li>
    
            </ul>
        </div>
    </div>
    <div class="navbar p-0">
        <div>

        </div>
        <div class="d-flex gap-4">
            <a href="http://localhost/CO3049_assignment/public/main/contact" class="text-decoration-none text-primary fw-bold">Contact</a>
            <a href="http://localhost/CO3049_assignment/public/main/about" class="text-decoration-none text-primary fw-bold">About</a>

        </div>
    </div>
    

    
</header>
        