<div class="sidebar-wrapper active">
    <div class="sidebar-header position-relative">
        <a href="http://localhost/CO3049_assignment/public/" class="logo text-decoration-none fw-bold fs-2">
            <span >CINEMA</span>
        </a>
        <div class="d-flex justify-content-between align-items-center">
            <div class="sidebar-toggler  x">
                <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
            </div>
        </div>
    </div>
    <div class="sidebar-menu">
        <ul class="menu">
            <li class="sidebar-title">Menu</li>
            
            <li class="sidebar-item">
                <a href="http://localhost/CO3049_assignment/public/admin/home" class='sidebar-link'>
                    <i class="bi bi-grid-fill"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="http://localhost/CO3049_assignment/public/admin/media" class='sidebar-link'>
                    <i class="bi bi-grid-fill"></i>
                    <span>Media</span>
                </a> 
            </li>
            <li class="sidebar-item">
                <a href="http://localhost/CO3049_assignment/public/admin/showtime" class='sidebar-link'>
                    <i class="bi bi-grid-fill"></i>
                    <span>Showtime</span>
                </a> 
            </li>
            <li class="sidebar-item">
                <a href="http://localhost/CO3049_assignment/public/admin/cinema" class='sidebar-link'>
                    <i class="bi bi-grid-fill"></i>
                    <span>Cinema</span>
                </a> 
            </li>
            <li class="sidebar-item">
                <a href="http://localhost/CO3049_assignment/public/admin/room" class='sidebar-link'>
                    <i class="bi bi-grid-fill"></i>
                    <span>Room</span>
                </a> 
            </li>
            

            <li
                class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-journal-check"></i>
                    <span>Form Validation</span>
                </a>
                
                <ul class="submenu ">
                    
                    <li class="submenu-item  ">
                        <a href="form-validation-parsley.html" class="submenu-link">Parsley</a>
                        
                    </li>
                    
                </ul>
                

            </li>
            
        </ul>
        
        
    </div>
    
</div>

