
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng kí</title>
    <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/assets/styles/global.css">


    <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/mazor/assets/compiled/css/app.css">


</head>

<body>
    
    <div id="app">
        <div id="header"></div>

        <main class="page-content container-lg d-flex justify-content-center" style="margin-top: 100px;">  
            <div class="card" style="width: 500px;">
                <div class="card-body">
                    <h1 class="auth-title py-2">Sign Up</h1>
        
                    <form id="registerForm">
                        <div class="form-group position-relative has-icon-left mb-4">
                            <input type="email" id="email" name="email" class="form-control form-control-xl" placeholder="Email">
                            <div class="form-control-icon">
                                <i class="bi bi-envelope"></i>
                            </div>
                        </div>
                        <div class="form-group position-relative has-icon-left mb-4" id="username-group">
                            <input type="text" id="username" name="username" class="form-control form-control-xl" placeholder="Username" disabled>
                            <div class="form-control-icon">
                                <i class="bi bi-person"></i>
                            </div>
                        </div>
                        <div class="form-group position-relative has-icon-left mb-4" id="password-group">
                            <input type="password" id="password" name="password" class="form-control form-control-xl" placeholder="Password" disabled>
                            <div class="form-control-icon">
                                <i class="bi bi-shield-lock"></i>
                            </div>
                        </div>
                        <div class="form-group position-relative has-icon-left mb-4" id="confirm-password-group">
                            <input type="password" id="confirm-password" name="confirm-password" class="form-control form-control-xl" placeholder="Confirm Password" disabled>
                            <div class="form-control-icon">
                                <i class="bi bi-shield-lock"></i>
                            </div>
                        </div>
                        <div class="alert" id="error-message" style="display: none;"></div>
                    </form>
                    <button id="btn" class="btn btn-primary btn-block btn-lg shadow-lg mt-5" onclick="register()" disabled>Sign Up</button>

                    
                    <script>
                      
                    </script>
                    
                    
                    
                    <div class="text-center mt-5 text-lg">
                        <p class="text-gray-600">Bạn đã có tài khoản? <a href="http://localhost/CO3049_assignment/public/auth/login" class="font-bold">Đăng nhập</a>.</p>
                    </div>
                </div>
            </div>
            
        </main>


    </div>

    

</body>

<script>
    
    window.onload = function() {
        loadHeader();
    };
    document.getElementById("registerForm").addEventListener("input", validateForm);




    async function loadHeader() {
        const response = await fetch('http://localhost/CO3049_assignment/public/component/header');
        const res= await response.text();
        document.getElementById('header').innerHTML = res;
    }

    async function validateForm() {
        try {
            const email = document.getElementById("email");
            const username = document.getElementById("username");
            const password = document.getElementById("password");
            const confirmPassword = document.getElementById("confirm-password");
            const errorMessage = document.getElementById("error-message");
            const button =  document.getElementById("btn");

            // Kiểm tra email hợp lệ
            
            if(email.value.trim() !== "") {
                username.disabled = false;
            } else {
                username.disabled = true;
                password.disabled = true;
                confirmPassword.disabled = true;
            }

            if(username.value.trim() !== "") {
                password.disabled = false;
            } else {
                password.disabled = true;
                confirmPassword.disabled = true;
            }

            if(password.value.trim() !== "") {
                confirmPassword.disabled = false;
            } else {
                confirmPassword.disabled = true;
            }

            if(password.value !== confirmPassword.value) {
                button.disabled = true;
            } else {
                button.disabled = false;
            }
        } catch (error) {
            console.error("Lỗi khi gửi form", error);
        }
    }

    async function register() {
        try {
            const errorMessage = document.getElementById("error-message");
            const dataForm = new FormData(document.getElementById("registerForm"));
            // Gửi yêu cầu đăng ký đến server
            const response = await fetch('http://localhost/CO3049_assignment/public/auth/register', {
                method: 'POST',
                body: dataForm,
            });

            const data = await response.json();
            console.log(data);
            if (data.status) {
                errorMessage.textContent = data.message || "Đăng ký thành công.";
                errorMessage.classList.remove("alert-danger");
                errorMessage.classList.add("alert-success");
                errorMessage.style.display = "block";


                window.location.href = 'http://localhost/CO3049_assignment/public/auth/login';
            } else {
                errorMessage.textContent = data.message || "Đăng ký thất bại. Vui lòng thử lại.";
                errorMessage.classList.add("alert-danger");
                errorMessage.style.display = "block";
            }
        } catch (error) {
            console.error("Lỗi khi gửi form", error);
        }
    }


</script>
<script src="http://localhost/CO3049_assignment/public/mazor/assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="http://localhost/CO3049_assignment/public/mazor/assets/compiled/js/app.js"></script>

</html>