<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Room</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/mazor/assets/compiled/css/app.css">
    <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/mazor/assets/compiled/css/app-dark.css">
        <link rel="stylesheet" href="http://localhost/CO3049_assignment/public/assets/styles/seats.css">


        <script src="http://localhost/CO3049_assignment/public/assets/scripts/components.js"></script>


</head>
<script src="http://localhost/CO3049_assignment/public/mazor/assets/static/js/initTheme.js"></script>

<body>
    
<div id="app">
    <div id="sidebar"></div>

    <div id="main">
        <header class="mb-3 navbar">
            <div class="d-flex gap-5">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
                <h1>Room</h1>
            </div>
            <div>
            </div>
            <div class="d-flex gap-1">
                <a href="http://localhost/CO3049_assignment/public/main/home" class="btn btn-primary rounded-pill text-white text-decoration-none fw-bold">Quan sát</a>
                <a href="http://localhost/CO3049_assignment/public/auth/logout" class="btn text-decoration-none fw-bold text-danger">Đăng xuất</a>

            </div>
        </header>
        
        <section class="row">
            <div class="page-heading">
                <h3>Thêm mới</h3>
            </div> 
            <div class="page-content">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-body">
                            <select id="cinemaSelect" class="form-select" aria-label="Chọn rạp">
                                <option selected>Chọn rạp</option>
                            </select>
                            <!-- Dropdown phòng chiếu -->
                            <select id="roomSelect" class="form-select mt-3" aria-label="Chọn phòng" disabled>
                                <option selected>Chọn phòng</option>
                            </select>
                        </div>                            
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow">
                        <div class="card-header">Sơ đồ ghế</div>
                        <div class="card-body">
                            <div class="text-center">
                                <style>

                                </style>
                                <div id="seatDisplay">
                                    <div class="navbar">
                                        <div class="seat standard"></div> <span class="ms-2">Standard</span>
                                        <div class="seat vip"></div> <span class="ms-2">VIP</span>
                                        <div class="seat couple"></div> <span class="ms-2">Couple</span>
                                        <div class="seat maintenance"></div> <span class="ms-2">Maintenance</span>
                                    </div>

                                    <div class="screen">Màn hình</div>

                                    <div id="seat" class="row p-1">
                                    </div>
                                    
                                </div>
                                
                                
                                
                                
                            </div>
                        </div>
                    </div>  
                </div>

             
            </div>
        </section>
    
    </div>







<!-- Modal -->
<div class="modal fade" id="seatModal" tabindex="-1" aria-labelledby="seatModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        
            <!-- Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="seatModalLabel">Thêm ghế</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
            </div>
            
            <!-- Body -->
            <div class="modal-body">
                <form id="seatInsertForm">
                    <div class="mb-3">
                        <label for="seatType" class="form-label">Loại ghế</label>
                        <select class="form-select" name="type" required>
                            <option value="standard" selected>Standard</option>
                            <option value="vip">VIP</option>
                            <option value="couple">Couple</option>
                            <option value="none">Khoảng trống</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="seatCode" class="form-label">Mã ghế</label>
                        <input type="text" class="form-control" name="code">
                    </div>
                    <div class="mb-3">
                        <label for="seatCode" class="form-label">Giá</label>
                        <input type="number" class="form-control" name="price">
                    </div>
                    <input type="number" class="form-control" name="col" >
                    <input type="number" class="form-control" name="row" >
                    <input type="number" class="form-control" name="room_id" >
                    <input type="number" class="form-control" name="cinema_id" >
                </form> 
            </div>

            <!-- Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" onclick="insertSeat()" class="btn btn-primary">Lưu thay đổi</button>
            </div>
        </div>
    </div>
</div>
<script>
    // Hàm để xử lý disable/enable input
    function toggleSeatCodeInput() {
        const seatType = document.querySelector("#seatModal select[name='type']");
        const seatCode = document.querySelector("#seatModal input[name='code']");
        const seatPrice = document.querySelector("#seatModal input[name='price']");

        if (seatType.value === "none") {
            seatCode.disabled = true;  // Disable nếu chọn "none"
            seatPrice.disabled = true;  // Disable giá nếu chọn "none"

        } else {
            seatCode.disabled = false;  // Enable nếu chọn loại ghế khác
            seatPrice.disabled = false;  // Enable giá nếu chọn loại ghế khác
        }
    }

    // Thêm sự kiện vào select khi modal mở
    const seatTypeSelect = document.querySelector("#seatModal select[name='type']");
    seatTypeSelect.addEventListener("change", toggleSeatCodeInput);

    // Đảm bảo rằng script chỉ chạy khi modal mở
    const seatModal = document.getElementById('seatModal');
    seatModal.addEventListener('shown.bs.modal', function () {
        // Gọi lại hàm khi modal mở
        toggleSeatCodeInput();
    });
</script>






</body>
<script>
    document.getElementById("sidebar").insertAdjacentHTML("beforeend", renderSidebar());
    document.body.insertAdjacentHTML("beforeend", renderToggleDark());
</script>
<script>



window.onload = function() {
    loadSelectCinema();
};

document.getElementById("cinemaSelect").addEventListener("change", function() {
    loadSelectRoom();
});
async function loadSelectCinema() {
    try {
        const response = await fetch("http://localhost/CO3049_assignment/public/admin/getCinema");
        const data = await response.json();

        const select = document.getElementById("cinemaSelect");
        select.innerHTML = '<option selected>Chọn rạp</option>'; 
        
        if (data.status) {
            data.data.forEach(cinema => {

                const option = document.createElement("option");
                option.value = cinema.id;
                option.textContent = cinema.name;
                option.setAttribute("data-open", cinema.open_time); 
                option.setAttribute("data-close", cinema.close_time);

                select.appendChild(option);
            });
        } else {
            console.error("Dữ liệu rạp không hợp lệ");
        }
    } catch (error) {
        console.error("Lỗi khi lấy danh sách rạp:", error);
    }
}
// ok
document.getElementById("roomSelect").addEventListener("change", function() {
    loadSeat();
});
async function loadSelectRoom() {
    try {
        const cinemaId = document.getElementById("cinemaSelect").value;
        const roomSelect = document.getElementById("roomSelect");
        roomSelect.innerHTML = '<option selected>Chọn phòng chiếu</option>'; // Reset danh sách
        roomSelect.disabled = true;

        if (!cinemaId) return;
        const response = await fetch(`http://localhost/CO3049_assignment/public/admin/getRoom?cinema_id=${cinemaId}`);
        const data = await response.json();
        console.log(data);

        if (data.status) {
            roomSelect.disabled = false;
            data.data.forEach(room => {
                const option = document.createElement("option");
                option.value = room.id;
                option.textContent = room.name;
                roomSelect.appendChild(option);
            });
        }
    } catch (error) {
        console.error("Lỗi khi lấy danh sách phòng chiếu:", error);
    }
}
// ok
async function loadSeat() {
    try {
        document.querySelector("#seatModal input[name='room_id']").value = document.getElementById("roomSelect").value;
        document.querySelector("#seatModal input[name='cinema_id']").value = document.getElementById("cinemaSelect").value;

        const roomId = document.getElementById("roomSelect").value;
        const seat = document.getElementById("seat");
        seat.innerHTML = ''; // Reset danh sách ghế

        if (!roomId) return;
        const response = await fetch(`http://localhost/CO3049_assignment/public/admin/getSeat?room_id=${roomId}`);
        const data = await response.json();
        if (data.status) {
            const seat = document.getElementById("seat");
            seat.innerHTML = "";
            const seatData = data.data;



            const rowMap = {};
            seatData.forEach(seat => {
                if (!rowMap[seat.row]) {
                    rowMap[seat.row] = [];
                }
                rowMap[seat.row].push(seat);
            });


            const col1 = document.createElement("div");
            col1.classList.add('col-2', 'd-flex', 'flex-column', 'p-0');
            const col2 = document.createElement("div");
            col2.classList.add('col-10', 'text-start', 'overflow-auto', 'p-0');
            col2.style.whiteSpace = "nowrap";


            Object.entries(rowMap).forEach(([rowIndex, seats]) => {
                const rowSeat2 = document.createElement("div");
                rowSeat2.className = "rowSeat";

                const rowSeat1 = document.createElement("div");
                rowSeat1.className = "rowSeat";

                
                const label = document.createElement("button");
                label.classList.add('seat', 'none');

                label.textContent = String.fromCharCode(64 + parseInt(rowIndex));
                rowSeat1.appendChild(label);
                col1.appendChild(rowSeat1);


                let numSeat = 0;


                seats.forEach(seat => {
                    if (seat.type !== 'none') {
                        numSeat += 1; 
                    }

                    const button = document.createElement("button");
                    button.classList.add("border-0");
                    if (seat.type === 'couple') {
                        button.classList.add("doubleSeat");
                    } else {
                        button.classList.add("seat");
                    }

                    button.classList.add(seat.type); // thêm theo loại ghế, ví dụ 'couple', 'vip', v.v.

                    button.innerHTML = seat.code || "&nbsp;";
                    rowSeat2.appendChild(button);
                });


                const colLength = Object.keys(rowMap[rowIndex]).length;
                const button = document.createElement("button");
                button.className = "seat add";
                button.textContent = "+";
                button.onclick = () => openInsertModal(rowIndex, colLength + 1, label.textContent + (numSeat + 1));
                rowSeat2.appendChild(button);
                col2.appendChild(rowSeat2);
                
            });

            const rowSeat2 = document.createElement("div");
            rowSeat2.className = "rowSeat";

            const rowSeat1 = document.createElement("div");
            rowSeat1.className = "rowSeat";



            const rowLength = Object.keys(rowMap).length;
            const label = document.createElement("button");
            label.classList.add('seat', 'none');
            label.textContent = String.fromCharCode(64 + parseInt(rowLength + 1));
            rowSeat1.appendChild(label);
            col1.appendChild(rowSeat1);

            const button = document.createElement("button");
            button.className = "seat add";
            button.textContent = "+";
            button.onclick = () => openInsertModal(rowLength + 1, 1, label.textContent + "1"); // Mở modal thêm ghế với mã ghế là "A1"
            rowSeat2.appendChild(button);
            col2.appendChild(rowSeat2);

            seat.appendChild(col1);
            seat.appendChild(col2);

        } 
        else {
            const col1 = document.createElement("div");
            col1.classList.add('col-3', 'd-block');
            const col2 = document.createElement("div");
            col2.classList.add('col-9', 'text-start', 'overflow-auto');
            col2.style.whiteSpace = "nowrap";



            const label = document.createElement("button");
            label.classList.add('seat', 'none');
            label.textContent = "A";
            const button = document.createElement("button");
            button.className = "seat add";
            button.textContent = "+";
            button.onclick = () => openInsertModal(1, 1, label.textContent + "1"); // Mở modal thêm ghế với mã ghế là "A1"
            col1.appendChild(label);

            col2.appendChild(button);

            seat.appendChild(col1);
            seat.appendChild(col2);
            
        }

    } catch (error) {
        console.error("Lỗi khi lấy danh sách ghế:", error);
    }
}

async function openInsertModal(row, col, code) {
    document.querySelector("#seatModal input[name='code']").value = code || "";
    document.querySelector("#seatModal input[name='col']").value = col || 1;
    document.querySelector("#seatModal input[name='row']").value = row || 1;

    const seatModal = new bootstrap.Modal(document.getElementById('seatModal'));
    seatModal.show();
}
async function insertSeat() {
    const form = document.getElementById("seatInsertForm");
    const formData = new FormData(form);
    const response = await fetch("http://localhost/CO3049_assignment/public/admin/insertSeat", {
        method: "POST",
        body: formData
    });
    const data = await response.json();
    console.log(data);
    if (data.status) {
        bootstrap.Modal.getInstance(document.getElementById('seatModal')).hide();
        loadSeat();
    } else {
        alert("Thêm ghế thất bại!");
    }
}
</script>
<script src="http://localhost/CO3049_assignment/public/mazor/assets/compiled/js/app.js"></script>
<script src="http://localhost/CO3049_assignment/public/mazor/assets/static/js/components/dark.js"></script>


</html>